services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: SyncSnack-api
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - SPRING_APPLICATION_NAME=${SPRING_APPLICATION_NAME}
      - SPRING_MONGODB_URI=${SPRING_MONGODB_URI}
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - SENDGRID_EMAIL_FROM=${SENDGRID_EMAIL_FROM}
      - FRONTEND_URL_DEV=${FRONTEND_URL_DEV}
      - FRONTEND_URL_PROD=${FRONTEND_URL_PROD}
      - BACKEND_URL_DEV=${BACKEND_URL_DEV}
      - BACKEND_URL_PROD=${BACKEND_URL_PROD}
      - JWT_COOKIE_NAME=${JWT_COOKIE_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION_MS=${JWT_EXPIRATION_MS}
      - SWAGGER_UI_PATH=${SWAGGER_UI_PATH}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}