name: Build & Deploy SyncSnack app

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: Build and Deploy SyncSnack app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 17.0.11

      - name: Create configuration files
        run: |
          set -e
          mkdir -p src/main/resources
          
          
          echo '${{ secrets.FIREBASE_CONFIG }}' > src/main/resources/firebase-adminsdk.json
          if [ $? -eq 0 ]; then
            echo "Successfully created firebase json file"
          else
            echo "Failed to create firebase json file"
            exit 1
          fi
          echo "Configuration files created successfully"     

      - name: Build and Test the app
        run:  mvn clean package

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/syncsnack-api:2.0

